#root {
  margin: 0;
  width: 100%;
  padding: 50px;
  text-align: center;
}
@media (max-width: 600px) {
  #root {
    padding: 0px;
  }
}

/* For Phone sizing */
* { box-sizing: border-box; }


.logo {
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.mapSettings {
  justify-content: center;
  margin:auto;
  border-radius: 40px;
  overflow: hidden;
  height: 80vh;
  width: 80%;
}

.mapImage {
  width: 100%;
  max-width: 300px;
  max-height: 35vh;
  height: auto;
}

@media(max-width: 600px){
  .mapImage {
    width: 150px;
    height:100px;
    object-fit: cover;
  }
}

.resumeCloud {
  background-image: url('@/assets/clouds/CloudSquare.svg');
  background-size: 100% 100%;
  max-width: 700px;
  margin: auto;
  height: 110vh;
  padding: 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 100px;
  object-fit: fill;
  background-position: center;
}

.resumeLink {
  margin-top: 8px;
  border-radius: 16px;
  padding: 12px;
  margin: auto;
  width: 180px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  max-width: 30%;
  margin: auto;
  border-radius: 10px;
  background-color: lightblue;
}

.read-the-docs {
  color: #888;
}
